<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basicfu.sip.api.mapper.InterfaceHistoryMapper">
  <resultMap id="BaseResultMap" type="com.basicfu.sip.api.model.po.InterfaceHistory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="interface_id" jdbcType="BIGINT" property="interfaceId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="path_params" jdbcType="VARCHAR" property="pathParams" />
    <result column="query_params" jdbcType="VARCHAR" property="queryParams" />
    <result column="req_headers" jdbcType="VARCHAR" property="reqHeaders" />
    <result column="req_body_type" jdbcType="VARCHAR" property="reqBodyType" />
    <result column="req_body" jdbcType="VARCHAR" property="reqBody" />
    <result column="res_body_type" jdbcType="VARCHAR" property="resBodyType" />
    <result column="res_body" jdbcType="VARCHAR" property="resBody" />
    <result column="cdate" jdbcType="INTEGER" property="cdate" />
    <result column="cuid" jdbcType="BIGINT" property="cuid" />
  </resultMap>
</mapper>