<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.basicfu.sip.tools.mapper.KubeChartsMapper" >
  <resultMap id="BaseResultMap" type="com.basicfu.sip.tools.model.po.KubeCharts" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="namespace" property="namespace" jdbcType="VARCHAR" />
    <result column="cdate" property="cdate" jdbcType="INTEGER" />
    <result column="udate" property="udate" jdbcType="INTEGER" />
    <result column="values" property="values" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>