<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.basicfu.sip.notify.mapper.MailTemplateMapper" >
    <resultMap id="BaseResultMap" type="com.basicfu.sip.notify.model.po.MailTemplate" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="app_id" property="appId" jdbcType="BIGINT" />
        <result column="sender_id" property="senderId" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="to_user" property="toUser" jdbcType="VARCHAR" />
        <result column="send_type" property="sendType" jdbcType="VARCHAR" />
        <result column="copy_user" property="copyUser" jdbcType="VARCHAR" />
        <result column="subject" property="subject" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="enable" property="enable" jdbcType="TINYINT" />
        <result column="cdate" property="cdate" jdbcType="INTEGER" />
        <result column="udate" property="udate" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
    </resultMap>
</mapper>