<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.basicfu.sip.base.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.basicfu.sip.base.model.po.Role" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="app_id" property="appId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="cdate" property="cdate" jdbcType="INTEGER" />
    <result column="udate" property="udate" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="TINYINT" />
  </resultMap>
</mapper>
