<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.basicfu.sip.base.mapper.ServiceMapper" >
  <resultMap id="BaseResultMap" type="com.basicfu.sip.core.model.po.Service" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="app_id" property="appId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="server_id" property="serverId" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="strip_prefix" property="stripPrefix" jdbcType="TINYINT" />
    <result column="retryable" property="retryable" jdbcType="TINYINT" />
    <result column="sensitive_headers" property="sensitiveHeaders" jdbcType="VARCHAR" />
  </resultMap>
</mapper>
