<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basicfu.sip.base.mapper.UserTemplateMapper">
  <resultMap id="BaseResultMap" type="com.basicfu.sip.base.model.po.UserTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="extra" jdbcType="VARCHAR" property="extra" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
    <result column="required" jdbcType="TINYINT" property="required" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="cdate" jdbcType="INTEGER" property="cdate" />
    <result column="udate" jdbcType="INTEGER" property="udate" />
  </resultMap>
</mapper>